name: First Workflow
on: workflow_dispatch
jobs:
  first-job:
    runs-on: windows-latest
    steps:
    - name: print hello
      run: echo Hello World
    - name: print bye
      run: echo Bye World
